@using System.Web.Optimization
@model string
@{
    ViewBag.Title = "PayPage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>PayPage</h2>

<div id="Container" class="container container-photo">
    <div class="form-group row justify-content-center">
        @Html.ActionLink("Pay", "DoPay", null, new { type = "button", @class = "btn signUpButton", style = "margin-top: 16px" })
    </div>

</div>