
@{
    ViewBag.Title = "MakeAd";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section SearchForm
{
    @Html.Partial("_SearchFormAuthRedirectToHome")
}

@section body
{
    <div class="container container-photo">

    </div>
}
